<div class="p-d-flex p-flex-wrap p-text-center card">
  <p-card
    header=""
    subheader=""
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <div>
        <p-avatar
          icon="pi pi-user"
          styleClass="p-mr-2"
          [style]="{ width: '300px' }"
          size="xlarge"
        ></p-avatar>
      </div>
    </ng-template>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="p-field p-m-2">
        <span class="p-float-label p-m-2">
          <input
            id="float-input"
            type="text"
            name="username"
            pInputText
            aria-describedby="username-help"
            [(ngModel)]="form.username"
            class="ng-dirty"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
            [style]="{ width: '250px' }"
          />
          <label for="float-input"><small>Teléfono o usuario</small></label>
        </span>
        <div *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">
            <small id="username-help" class="p-error"
              >Requerido nombre de usuario</small
            >
          </div>
          <div *ngIf="username.errors.minlength">
            <small id="username-help" class="p-error"
              >El nombre de usuario debe tener al menos 3 caracteres</small
            >
          </div>
          <div *ngIf="username.errors.maxlength">
            <small id="username-help" class="p-error"
              >El nombre de usuario no debe superar los 20 caracteres</small
            >
          </div>
        </div>
      </div>
      <div class="p-field p-m-2">
        <span class="p-float-label p-m-2">
          <input
            id="email"
            type="email"
            class="ng-dirty"
            name="email"
            pInputText
            aria-describedby="email-help"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [style]="{ width: '250px' }"
          />
          <label for="email"><small>Correo electrónico</small></label>
        </span>
        <div *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">
            <small id="email-help" class="p-error"
              >Correo electrónico requerido</small
            >
          </div>
          <div *ngIf="email.errors.email">
            <small id="email-help" class="p-error"
              >El correo electrónico debe tener una dirección valida</small
            >
          </div>
        </div>
      </div>
      <div class="p-field p-m-2">
        <p-password
          name="password"
          [(ngModel)]="form.password"
          aria-describedby="password-help"
          required
          minlength="6"
          #password="ngModel"
          [toggleMask]="true"
          promptLabel="Elige una contraseña"
        >
          <ng-template pTemplate="header">
            <p class="p-mt-2">Sugerencias</p>
            <ul
              class="p-pl-2 p-ml-2 p-mt-0 p-text-left"
              style="line-height: 1.5"
            >
              <li>Al menos una minúscula</li>
              <li>Al menos una mayúscula</li>
              <li>Al menos un número</li>
              <li>Mínimo 6 caracteres</li>
            </ul>
            <p-divider></p-divider>
          </ng-template>
        </p-password>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">
            <small id="password-help" class="p-error"
              >Contraseña requerida</small
            >
          </div>
          <div *ngIf="password.errors.minlength">
            <small id="password-help" class="p-error"
              >La contraseña debe contener mínimo 6 caracteres</small
            >
          </div>
        </div>
      </div>
      <div class="p-field p-m-3">
        <button pButton pRipple label="Registrar" icon="pi pi-sign-in"  [loading]="loading"></button>
        <p-button routerLink="../login" styleClass="p-button-link"
          >Iniciar sesión</p-button
        >
      </div>
      <div *ngIf="f.submitted && isSignUpFailed">
        <p-message
          severity="error"
          text="Ha fallado el registro! {{ errorMessage }}"
          styleClass="p-m-2"
        ></p-message>
      </div>
    </form>
    <div *ngIf="isSuccessful">
      <p-message
        severity="info"
        text="Registro satisfactorio"
        styleClass="p-m-2"
      ></p-message>
    </div>
  </p-card>
</div>
