<div class="p-d-flex p-flex-wrap p-text-center card">
  <p-card
    header=""
    subheader=""
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <p-avatar
        icon="pi pi-user"
        styleClass="p-mr-2"
        [style]="{ width: '300px' }"
        size="xlarge"
      ></p-avatar>
    </ng-template>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="p-field p-m-3">
        <span class="p-float-label p-m-2">
          <input
            id="float-input"
            type="text"
            name="username"
            pInputText
            aria-describedby="username-help"
            [(ngModel)]="form.username"
            class="ng-dirty"
            required
            #username="ngModel"
          />
          <label for="float-input"
            ><small>Teléfono, correo o usuario</small></label
          >
        </span>
        <div class="p-mt-2" role="alert" *ngIf="username.errors && f.submitted">
          <small id="username-help" class="p-error"
            >Requerido teléfono, correo o usuario</small
          >
        </div>
      </div>
      <div class="p-field p-m-3">
        <p-password
          name="password"
          [(ngModel)]="form.password"
          aria-describedby="password-help"
          required
          minlength="6"
          #password="ngModel"
          [toggleMask]="true"
          [feedback]="false"
        ></p-password>
        <div class="p-mt-2" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">
            <small id="password-help" class="p-error"
              >Contraseña requerida</small
            >
          </div>
        </div>
      </div>
      <div class="p-field p-m-4"  *ngIf="!isLoggedIn">
        <button
          pButton
          pRipple
          label="Iniciar sesión"
          icon="pi pi-user"
        ></button>
        <p-button routerLink="../register" styleClass="p-button-link"
          >Regístrate</p-button
        >
        <div class="p-field p-m-3">
          <p-button routerLink="../forgot-password" styleClass="p-button-link"
            ><small>¿Olvidaste tu contraseña?</small></p-button
          >
        </div>
      </div>
      <div class="p-field">
        <div role="alert" *ngIf="f.submitted && isLoginFailed">
          <p-message
            severity="error"
            text="Error de inicio de sesión"
            styleClass="p-m-1"
          ></p-message>
        </div>
      </div>
    </form>
    <div class="p-mt-2" *ngIf="isLoggedIn">
        <button
        pButton
        pRipple
        label="Cerrar sesión"
        icon="pi pi-user"
        (click)="logout()"
      ></button>
        <p-message
          severity="info"
          text="Conectado como:  {{ roles }}"
          styleClass="p-m-4"
        ></p-message>
    </div>
  </p-card>
</div>
