<div class="p-d-flex p-flex-wrap p-text-center">
  <p-card
    header="Iniciar Sesión"
    subheader=""
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <div>
        <p-avatar
          icon="pi pi-user"
          styleClass="p-mr-2"
          [style]="{ width: '300px' }"
          size="xlarge"
        ></p-avatar>
      </div>
    </ng-template>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group p-m-2">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            name="username"
            pInputText
            [(ngModel)]="form.username"
            class="ng-dirty"
            required
            #username="ngModel"
            [style]="{ width: '250px' }"
          />
          <label for="float-input">Nombre de usuario o email</label>
        </span>
        <div class="p-mt-2" role="alert" *ngIf="username.errors && f.submitted">
          <p-message
            severity="error"
            text="Nombre de usuario o email es requerido"
            styleClass="p-m-2"
          ></p-message>
        </div>
      </div>
      <div class="form-group p-m-2">
        <p-password
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [toggleMask]="true"
          [feedback]="false"
        ></p-password>
        <div class="p-mt-2" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">
            <p-message
              severity="error"
              text="Password es requerido"
              styleClass="p-m-2"
            ></p-message>
          </div>
        </div>
      </div>
      <div class="form-group p-m-3">
        <button pButton pRipple label="Login" icon="pi pi-user"></button>
      </div>
      <div class="form-group">
        <div role="alert" *ngIf="f.submitted && isLoginFailed">
          <p-message
            severity="error"
            text="Error de inicio de sesion"
            styleClass="p-m-1"
          ></p-message>
        </div>
      </div>
    </form>
    <div class="p-mt-2">
      <div *ngIf="isLoggedIn">
        <p-message
          severity="info"
          text="Conectado como:  {{ roles }}"
          styleClass="p-m-2"
        ></p-message>
      </div>
    </div>
  </p-card>
</div>
